#################
# GENERAL
#################
#################
# 1.2
#################
hack2 = ''
#################
# 2.4
#################
hack1 = ''
path_to_my_nn = 'S:\PyCharm\inference\NN\model.pt'
#################
#5.2
#################
hack0 = ''
#################
# 5.8
#################


#################
# Inference server
#################
local_host=192.168.2.4
local_port=5000
to_server_ip=192.168.2.10
to_server_port=8080
