#################
# GENERAL
#################
# 2.4
#################
hack2 = '0000000000000000272062dc3946abcb'
example = 'S:\PyCharm\pythonProject\InferencePCServer\NN\example\A5_2.4_noise_0.npy'
path_to_my_nn = 'S:\PyCharm\pythonProject\NN\model.pt'
#################

#################
# Inference server
#################
local_host=192.168.1.90
local_port=8080
server_ip=192.168.1.90
server_port=8080